.dialog-pane .content {
    -fx-padding: 0;
}

.list-menu {
    -fx-pref-width: 160;
    -fx-background-color: -ag-bg-mid;
}

.list-item {
    -fx-pref-width: 160;
    -fx-padding: 0 20 0 20;
    -fx-background-color: -ag-bg-light;
}

.list-item * {
    -fx-fill: #fff;
}

.list-item:hover {
    -fx-background-color: -ag-bg-raised;
}

.list-item:selected {
    -fx-background-color: -ag-accent;
}

#importPane {
    -fx-background-color: -fx-background;
}

.scroll-pane {
    -fx-background-color: transparent;
}




