.dialog-pane .content {
    -fx-padding: 0;
}

.list-menu {
    -fx-pref-width: 160;
    -fx-background-color: #16171C;
}

.list-item {
    -fx-pref-width: 160;
    -fx-padding: 0 20 0 20;
    -fx-background-color: #1E2026;
}

.list-item * {
    -fx-fill: #fff;
}

.list-item:hover {
    -fx-background-color: #282A32;
}

.list-item:selected {
    -fx-background-color: #cc1111;
}

#importPane {
    -fx-background-color: -fx-background;
}

.scroll-pane {
    -fx-background-color: transparent;
}




